extends settings/layout

prepend html
  - const lang = "en";

prepend head
  - const pageTitle = "TEST TEST TEST";
  - const themeColor = "#ffffff";

append head

append content
  include components/test


append scripts

